.vscode/
.vs/

# Build output
build/
out/
cmake-build-debug/
deps/

# C++ Temporary Files
*.obj
*.pdb
*.ipdb
*.iobj
*.tlog
*.exe
*.dll
*.lib
*.ilk

# OS Metadata 
.DS_Store
Thumbs.db

# Files with paths embedded
src/shader.h